[project]
	description = ropr
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ropr11
[access "refs/for/refs/*"]
	read = group user/ropr11
	push = group user/ropr11
	label-Code-Review = -2..+2 group user/ropr11
	label-Verified = -1..+1 group user/ropr11
	rebase = group user/ropr11
	removeReviewer = group user/ropr11
	submit = group user/ropr11
[access "refs/heads/*"]
	read = group user/ropr11
	create = group user/ropr11
	push = +force group user/ropr11
	pushMerge = group user/ropr11
[access "refs/tags/*"]
	push = +force group user/ropr11
	pushTag = group user/ropr11
	pushSignedTag = group user/ropr11
